body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    border: 1px solid #000;
    border-bottom: 0;
    font-weight: bold;
}

th,
td {
    border: 1px solid #000;
}

.font {
    color: red;
}
