
.block {
    background: #db9966;
    display: inline-block;
    text-align: left;
    padding: 20px 30px 20px 30px;
    margin: 5px;
    border-radius: 30px;
    width: 200px;
    box-shadow: inset 0.5px 0.5px 10px #0a0a0a;
}

.block1 {
    background: #dabcbc;
    height: 500px;
    overflow: auto;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border: 1px solid #0a0a0a;
}