body {
    background: #181E34;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ============================================================ */

.header {
    padding: 30px 0 36px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: auto;
}

.header-list {
    display: flex;
    margin-right: 34px;
}

.header-item {
    margin-right: 30px;
}

.header-button {
    background: #fff;
    border-radius: 100px;
    color: #2766AE;
    padding: 14px 30px;
    font-weight: 500;
}

/* ================================================== */

.hero {
    background: url("../img/hero-bg1.jpg") 10% 50% / cover no-repeat;
    padding: 120px 0;
}

.hero-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    width: 436px;
}

span {
    color: rgba(1, 162, 203, 1);
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}

.hero-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
}

.hero-button-1, .hero-button-2 {
    border-radius: 100px;
    padding: 18px 30px;
    display: flex;
    justify-content: center;

}

.hero-button-1 img, .hero-button-2 img {
    margin-left: 4px;
}

.hero-button-1 {
    background: linear-gradient(180.00deg, rgba(0, 164, 204, 1), rgba(39, 102, 174, 1) 100%);
}

.hero-button-2 {
    background: linear-gradient(129.14deg, rgba(0, 164, 204, 1), rgba(39, 102, 174, 1) 100%);
}

.bottom {
    margin-bottom: 10px;
}

/* ================================================================*/

.cards {
    padding: 120px 0;
}

.cards-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.cards-text {
    text-align: center;
    margin: 0 auto 60px;
    max-width: 513px;
}

.cards-flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -28px;
    padding-bottom: 30px;
}

.cards-flex-item {
    margin-bottom: 28px;
    flex: 0 0 25%;
    padding: 0 14px;
}

.cards-flex-inner {
    border: 2px solid rgba(23, 107, 174, 1);
    border-radius: 16px;
    box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
    background: rgba(25, 124, 184, 1);
    padding: 28px 15px;
}

.cards-flex-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.cards-flex-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

.cards-button {
    display: block;
    text-align: center;
    border-radius: 100px;
    padding: 18px 30px;
    background: linear-gradient(180.00deg, rgba(0, 164, 204, 1), rgba(39, 102, 174, 1) 100%);
    max-width: 436px;
    margin: 0 auto;
}

/* ======================================================================= */

.footer {
    padding: 60px 0;
    border-top: 1px solid #000;
}

.footer-inner {
    display: flex;

}

.footer-desc {
    max-width: 267px;
    margin-right: auto;
}

.footer-desc a {
    display: inline-block;
    margin-bottom: 15px;
}

.footer-col {
    max-width: 202px;
    width: 100%;
}

.footer-col-margin {
    margin-right: 28px;
}

.footer-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-item {
    margin-bottom: 10px;
}

